<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\State\ReloadProcessorComposite">
        <arguments>
            <argument name="processors" xsi:type="array">
                <!-- Note: This needs to be first because it has DeploymentConfig which others require -->
                <item name="000_Magento::config" xsi:type="object">Magento\Framework\App\State\ReloadProcessor</item>
                <item name="Opengento_Application::config" xsi:type="object">Opengento\Application\App\State\ReloadProcessor</item>
                <item name="GraphQl::QueryParser" xsi:type="object">Magento\Framework\GraphQl\Query\QueryParser</item>
            </argument>
        </arguments>
    </type>
    <type name="Opengento\Application\App\StaticResource">
        <arguments>
            <argument name="response" xsi:type="object" shared="false">Magento\MediaStorage\Model\File\Storage\Response</argument>
            <argument name="publisher" xsi:type="object">developerPublisher</argument>
        </arguments>
    </type>
    <!-- Override Stateful Objects by stateless ones -->
    <preference for="Magento\Framework\App\RequestInterface" type="Opengento\Application\App\Request\HttpRequest"/>
    <preference for="Magento\Framework\App\PlainTextRequestInterface" type="Opengento\Application\App\Request\HttpRequest"/>
    <preference for="Magento\Framework\App\RequestSafetyInterface" type="Opengento\Application\App\Request\HttpRequest"/>
    <preference for="Magento\Framework\App\RequestContentInterface" type="Opengento\Application\App\Request\HttpRequest"/>
    <preference for="Magento\Framework\App\Request\Http" type="Opengento\Application\App\Request\HttpRequest"/>
    <preference for="Magento\Framework\HTTP\PhpEnvironment\Request" type="Opengento\Application\App\Request\HttpRequest"/>
    <!-- Ensure the layout is a new object when we create a Page or Layout result from the factory -->
    <type name="Magento\Framework\View\Result\Page">
        <arguments>
            <argument name="isIsolated" xsi:type="boolean">true</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Result\Layout">
        <arguments>
            <argument name="isIsolated" xsi:type="boolean">true</argument>
        </arguments>
    </type>
    <!-- Ensure the sessions are properly started and closed on each run -->
    <type name="Magento\Framework\Session\SessionManager">
        <plugin name="Opengento_Application::register_started_session" type="Opengento\Application\Plugin\RegisterStartedSession"/>
    </type>
</config>
